<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>All Listings</h3>
    <div class="lists">
        <% for(let listing of allListing) {%>
            <a href="/listings/<%=listing._id%>" class="card-link">
                <div class="card listing-card">
                    <img src="<%= listing.image && listing.image.url ? listing.image.url : 'https://images.unsplash.com/photo-1625505826533-5c80aca7d157?auto=format&fit=crop&w=800&q=60' %>" class="card-img-top" alt="<%= listing.image && listing.image.filename ? listing.image.filename : 'Listing Image' %>">
                    <div class="card-body">
                        <p class="title"><b><%= listing.title %></b></p>
                        <p class="price"><i class="fa-solid fa-indian-rupee-sign"></i><%=listing.price.toLocaleString("en-IN")%>/night</p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>